services:
  app:
    build: ./
    volumes:
      - ./:/usr/src/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: sh -c "npx prisma generate && npm run start:dev"

  auth-db:
    container_name: auth-db
    image: postgres:16.2
    restart: always
    volumes:
      - ./postres/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=authdb

  auth-redis:
    container_name: auth-redis
    image: redis:7.2
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"

volumes:
  redis_data:
