services:
  app:
    build: ./
    volumes:
      - ./:/usr/src/app
    ports:
      - "3000:3000"
    command: npm run start:dev
    environment:
      - PORT=${PORT}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
  auth-db:
    container_name: auth-db
    image: postgres:16.2
    restart: always
    volumes:
      - ./postres/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123455
      - POSTGRES_DB=authdb